[bumpversion]
current_version = 1.0.22
commit = True
tag = True
tag_name = {new_version}
message = chore(release): {new_version}

[bumpversion:file:package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:docker-compose.yml]
search = {current_version}
replace = {new_version}